
<div class="verbcontent">
      <div class="pure-g verbtable"> <!-- #BeginEditable "Full_width_text" -->
        <div class="pure-u-1-1">
          <h2>Nominal Forms</h2>
          <p><b>Infinitive:</b> <span class="normal">to hit</span><br>
            <b>Participle:</b> <span class="irregular">hit</span><br>
            <b>Gerund:</b> <span class="orto">hitting</span><br></p>
        </div>

        <div class="pure-u-1-1 pure-u-lg-1-2">
          <h2>Indicative</h2>
          <div class="pure-g">
            <div class="pure-u-1-2">
              <h3>Present</h3>
              <p><table class="verbtense">
              <tr><td><span class="pronoun">I</span></td><td><span class="normal">hit</span></td></tr>
              <tr><td><span class="pronoun">you</span></td><td><span class="normal">hit</span></td></tr>
              <tr><td><span class="pronoun">he;she;it</span></td><td><span class="normal">hits</span></td></tr>
              <tr><td><span class="pronoun">we</span></td><td><span class="normal">hit</span></td></tr>
              <tr><td><span class="pronoun">you</span></td><td><span class="normal">hit</span></td></tr>
              <tr><td><span class="pronoun">they</span></td><td><span class="normal">hit</span></td></tr>
            </table>
              </p>
            </div>
            <div class="pure-u-1-2">
              <h3>Perfect</h3>
              <p><table class="verbtense">
              <tr><td><span class="pronoun">I</span></td><td><span class="normal">have hit</span></td></tr>
              <tr><td><span class="pronoun">you</span></td><td><span class="normal">have hit</span></td></tr>
              <tr><td><span class="pronoun">he;she;it</span></td><td><span class="normal">has hit</span></td></tr>
              <tr><td><span class="pronoun">we</span></td><td><span class="normal">have hit</span></td></tr>
              <tr><td><span class="pronoun">you</span></td><td><span class="normal">have hit</span></td></tr>
              <tr><td><span class="pronoun">they</span></td><td><span class="normal">have hit</span></td></tr>
            </table>
              </p>
            </div>
            <div class="pure-u-1-2">
              <h3>Past</h3>
              <p><table class="verbtense">
              <tr><td><span class="pronoun">I</span></td><td><span class="irregular">hit</span></td></tr>
              <tr><td><span class="pronoun">you</span></td><td><span class="irregular">hit</span></td></tr>
              <tr><td><span class="pronoun">he;she;it</span></td><td><span class="irregular">hit</span></td></tr>
              <tr><td><span class="pronoun">we</span></td><td><span class="irregular">hit</span></td></tr>
              <tr><td><span class="pronoun">you</span></td><td><span class="irregular">hit</span></td></tr>
              <tr><td><span class="pronoun">they</span></td><td><span class="irregular">hit</span></td></tr>
            </table>
              </p>
            </div>
            <div class="pure-u-1-2">
              <h3>Pluperfect</h3>
              <p><table class="verbtense">
              <tr><td><span class="pronoun">I</span></td><td><span class="normal">had hit</span></td></tr>
              <tr><td><span class="pronoun">you</span></td><td><span class="normal">had hit</span></td></tr>
              <tr><td><span class="pronoun">he;she;it</span></td><td><span class="normal">had hit</span></td></tr>
              <tr><td><span class="pronoun">we</span></td><td><span class="normal">had hit</span></td></tr>
              <tr><td><span class="pronoun">you</span></td><td><span class="normal">had hit</span></td></tr>
              <tr><td><span class="pronoun">they</span></td><td><span class="normal">had hit</span></td></tr>
            </table>
              </p>
            </div>
            <div class="pure-u-1-2">
              <h3>Future</h3>
              <p><table class="verbtense">
              <tr><td><span class="pronoun">I</span></td><td><span class="normal">will hit</span></td></tr>
              <tr><td><span class="pronoun">you</span></td><td><span class="normal">will hit</span></td></tr>
              <tr><td><span class="pronoun">he;she;it</span></td><td><span class="normal">will hit</span></td></tr>
              <tr><td><span class="pronoun">we</span></td><td><span class="normal">will hit</span></td></tr>
              <tr><td><span class="pronoun">you</span></td><td><span class="normal">will hit</span></td></tr>
              <tr><td><span class="pronoun">they</span></td><td><span class="normal">will hit</span></td></tr>
            </table>
              </p>
            </div>
            <div class="pure-u-1-2">
              <h3>Future perfect</h3>
              <p><table class="verbtense">
              <tr><td><span class="pronoun">I</span></td><td><span class="normal">will have hit</span></td></tr>
              <tr><td><span class="pronoun">you</span></td><td><span class="normal">will have hit</span></td></tr>
              <tr><td><span class="pronoun">he;she;it</span></td><td><span class="normal">will have hit</span></td></tr>
              <tr><td><span class="pronoun">we</span></td><td><span class="normal">will have hit</span></td></tr>
              <tr><td><span class="pronoun">you</span></td><td><span class="normal">will have hit</span></td></tr>
              <tr><td><span class="pronoun">they</span></td><td><span class="normal">will have hit</span></td></tr>
            </table>
              </p>
            </div>
          </div>
        </div>

        <div class="pure-u-1-1 pure-u-lg-1-2">
          <h2>Subjunctive</h2>
          <div class="pure-g">
            <div class="pure-u-1-2">
              <h3>Present</h3>
              <p><table class="verbtense">
              <tr><td><span class="pronoun">I</span></td><td><span class="normal">hit</span></td></tr>
              <tr><td><span class="pronoun">you</span></td><td><span class="normal">hit</span></td></tr>
              <tr><td><span class="pronoun">he;she;it</span></td><td><span class="normal">hit</span></td></tr>
              <tr><td><span class="pronoun">we</span></td><td><span class="normal">hit</span></td></tr>
              <tr><td><span class="pronoun">you</span></td><td><span class="normal">hit</span></td></tr>
              <tr><td><span class="pronoun">they</span></td><td><span class="normal">hit</span></td></tr>
            </table>
              </p>
            </div>
            <div class="pure-u-1-2">
              <h3>Perfect</h3>
              <p><table class="verbtense">
              <tr><td><span class="pronoun">I</span></td><td><span class="normal">have hit</span></td></tr>
              <tr><td><span class="pronoun">you</span></td><td><span class="normal">have hit</span></td></tr>
              <tr><td><span class="pronoun">he;she;it</span></td><td><span class="normal">have hit</span></td></tr>
              <tr><td><span class="pronoun">we</span></td><td><span class="normal">have hit</span></td></tr>
              <tr><td><span class="pronoun">you</span></td><td><span class="normal">have hit</span></td></tr>
              <tr><td><span class="pronoun">they</span></td><td><span class="normal">have hit</span></td></tr>
            </table>
              </p>
            </div>
            <div class="pure-u-1-2">
              <h3>Imperfect</h3>
              <p><table class="verbtense">
              <tr><td><span class="pronoun">I</span></td><td><span class="irregular">hit</span></td></tr>
              <tr><td><span class="pronoun">you</span></td><td><span class="irregular">hit</span></td></tr>
              <tr><td><span class="pronoun">he;she;it</span></td><td><span class="irregular">hit</span></td></tr>
              <tr><td><span class="pronoun">we</span></td><td><span class="irregular">hit</span></td></tr>
              <tr><td><span class="pronoun">you</span></td><td><span class="irregular">hit</span></td></tr>
              <tr><td><span class="pronoun">they</span></td><td><span class="irregular">hit</span></td></tr>
            </table>
              </p>
            </div>
            <div class="pure-u-1-2">
              <h3>Pluperfect</h3>
              <p><table class="verbtense">
              <tr><td><span class="pronoun">I</span></td><td><span class="normal">had hit</span></td></tr>
              <tr><td><span class="pronoun">you</span></td><td><span class="normal">had hit</span></td></tr>
              <tr><td><span class="pronoun">he;she;it</span></td><td><span class="normal">had hit</span></td></tr>
              <tr><td><span class="pronoun">we</span></td><td><span class="normal">had hit</span></td></tr>
              <tr><td><span class="pronoun">you</span></td><td><span class="normal">had hit</span></td></tr>
              <tr><td><span class="pronoun">they</span></td><td><span class="normal">had hit</span></td></tr>
            </table>
              </p>
            </div>
          </div>
        </div>

        <div class="pure-u-1-1 pure-u-lg-1-2">
          <h2>Conditional</h2>
          <div class="pure-g">
            <div class="pure-u-1-2">
              <h3>Present</h3>
              <p><table class="verbtense">
              <tr><td><span class="pronoun">I</span></td><td><span class="normal">would hit</span></td></tr>
              <tr><td><span class="pronoun">you</span></td><td><span class="normal">would hit</span></td></tr>
              <tr><td><span class="pronoun">he;she;it</span></td><td><span class="normal">would hit</span></td></tr>
              <tr><td><span class="pronoun">we</span></td><td><span class="normal">would hit</span></td></tr>
              <tr><td><span class="pronoun">you</span></td><td><span class="normal">would hit</span></td></tr>
              <tr><td><span class="pronoun">they</span></td><td><span class="normal">would hit</span></td></tr>
            </table>
              </p>
            </div>
            <div class="pure-u-1-2">
              <h3>Perfect</h3>
              <p><table class="verbtense">
              <tr><td><span class="pronoun">I</span></td><td><span class="normal">would have hit</span></td></tr>
              <tr><td><span class="pronoun">you</span></td><td><span class="normal">would have hit</span></td></tr>
              <tr><td><span class="pronoun">he;she;it</span></td><td><span class="normal">would have hit</span></td></tr>
              <tr><td><span class="pronoun">we</span></td><td><span class="normal">would have hit</span></td></tr>
              <tr><td><span class="pronoun">you</span></td><td><span class="normal">would have hit</span></td></tr>
              <tr><td><span class="pronoun">they</span></td><td><span class="normal">would have hit</span></td></tr>
            </table>
              </p>
            </div>
          </div>
        </div>

        <div class="pure-u-1-1 pure-u-lg-1-2">
          <h2>Imperative</h2>
          <p><table class="verbtense">
          <tr><td><span class="pronoun">you</span></td><td><span class="normal">hit</span></td></tr>
          <tr><td><span class="pronoun">we</span></td><td><span class="normal">Let's hit</span></td></tr>
          <tr><td><span class="pronoun">you</span></td><td><span class="normal">hit</span></td></tr>
        </table>
          </p>
        </div>

        <div class="pure-u-1-1">
          <h1>Progressive (Continuous) Forms</h1>
        </div>

        <div class="pure-u-1-1 pure-u-lg-1-2">
          <h2>Indicative</h2>
          <div class="pure-g">
            <div class="pure-u-1-2">
              <h3>Present</h3>
              <p><table class="verbtense">
              <tr><td><span class="pronoun">I</span></td><td><span class="normal">am hitting</span></td></tr>
              <tr><td><span class="pronoun">you</span></td><td><span class="normal">are hitting</span></td></tr>
              <tr><td><span class="pronoun">he;she;it</span></td><td><span class="normal">is hitting</span></td></tr>
              <tr><td><span class="pronoun">we</span></td><td><span class="normal">are hitting</span></td></tr>
              <tr><td><span class="pronoun">you</span></td><td><span class="normal">are hitting</span></td></tr>
              <tr><td><span class="pronoun">they</span></td><td><span class="normal">are hitting</span></td></tr>
            </table>
              </p>
            </div>
            <div class="pure-u-1-2">
              <h3>Perfect</h3>
              <p><table class="verbtense">
              <tr><td><span class="pronoun">I</span></td><td><span class="normal">have been hitting</span></td></tr>
              <tr><td><span class="pronoun">you</span></td><td><span class="normal">have been hitting</span></td></tr>
              <tr><td><span class="pronoun">he;she;it</span></td><td><span class="normal">has been hitting</span></td></tr>
              <tr><td><span class="pronoun">we</span></td><td><span class="normal">have been hitting</span></td></tr>
              <tr><td><span class="pronoun">you</span></td><td><span class="normal">have been hitting</span></td></tr>
              <tr><td><span class="pronoun">they</span></td><td><span class="normal">have been hitting</span></td></tr>
            </table>
              </p>
            </div>
            <div class="pure-u-1-2">
              <h3>Past</h3>
              <p><table class="verbtense">
              <tr><td><span class="pronoun">I</span></td><td><span class="normal">was hitting</span></td></tr>
              <tr><td><span class="pronoun">you</span></td><td><span class="normal">were hitting</span></td></tr>
              <tr><td><span class="pronoun">he;she;it</span></td><td><span class="normal">was hitting</span></td></tr>
              <tr><td><span class="pronoun">we</span></td><td><span class="normal">were hitting</span></td></tr>
              <tr><td><span class="pronoun">you</span></td><td><span class="normal">were hitting</span></td></tr>
              <tr><td><span class="pronoun">they</span></td><td><span class="normal">were hitting</span></td></tr>
            </table>
              </p>
            </div>
            <div class="pure-u-1-2">
              <h3>Pluperfect</h3>
              <p><table class="verbtense">
              <tr><td><span class="pronoun">I</span></td><td><span class="normal">had been hitting</span></td></tr>
              <tr><td><span class="pronoun">you</span></td><td><span class="normal">had been hitting</span></td></tr>
              <tr><td><span class="pronoun">he;she;it</span></td><td><span class="normal">had been hitting</span></td></tr>
              <tr><td><span class="pronoun">we</span></td><td><span class="normal">had been hitting</span></td></tr>
              <tr><td><span class="pronoun">you</span></td><td><span class="normal">had been hitting</span></td></tr>
              <tr><td><span class="pronoun">they</span></td><td><span class="normal">had been hitting</span></td></tr>
            </table>
              </p>
            </div>
            <div class="pure-u-1-2">
              <h3>Future</h3>
              <p><table class="verbtense">
              <tr><td><span class="pronoun">I</span></td><td><span class="normal">will be hitting</span></td></tr>
              <tr><td><span class="pronoun">you</span></td><td><span class="normal">will be hitting</span></td></tr>
              <tr><td><span class="pronoun">he;she;it</span></td><td><span class="normal">will be hitting</span></td></tr>
              <tr><td><span class="pronoun">we</span></td><td><span class="normal">will be hitting</span></td></tr>
              <tr><td><span class="pronoun">you</span></td><td><span class="normal">will be hitting</span></td></tr>
              <tr><td><span class="pronoun">they</span></td><td><span class="normal">will be hitting</span></td></tr>
            </table>
              </p>
            </div>
            <div class="pure-u-1-2">
              <h3>Future perfect</h3>
              <p><table class="verbtense">
              <tr><td><span class="pronoun">I</span></td><td><span class="normal">will have been hitting</span></td></tr>
              <tr><td><span class="pronoun">you</span></td><td><span class="normal">will have been hitting</span></td></tr>
              <tr><td><span class="pronoun">he;she;it</span></td><td><span class="normal">will have been hitting</span></td></tr>
              <tr><td><span class="pronoun">we</span></td><td><span class="normal">will have been hitting</span></td></tr>
              <tr><td><span class="pronoun">you</span></td><td><span class="normal">will have been hitting</span></td></tr>
              <tr><td><span class="pronoun">they</span></td><td><span class="normal">will have been hitting</span></td></tr>
            </table>
              </p>
            </div>
          </div>
        </div>

        <div class="pure-u-1-1 pure-u-lg-1-2">
          <h2>Conditional</h2>
          <div class="pure-g">
            <div class="pure-u-1-2">
              <h3>Present</h3>
              <p><table class="verbtense">
              <tr><td><span class="pronoun">I</span></td><td><span class="normal">would be hitting</span></td></tr>
              <tr><td><span class="pronoun">you</span></td><td><span class="normal">would be hitting</span></td></tr>
              <tr><td><span class="pronoun">he;she;it</span></td><td><span class="normal">would be hitting</span></td></tr>
              <tr><td><span class="pronoun">we</span></td><td><span class="normal">would be hitting</span></td></tr>
              <tr><td><span class="pronoun">you</span></td><td><span class="normal">would be hitting</span></td></tr>
              <tr><td><span class="pronoun">they</span></td><td><span class="normal">would be hitting</span></td></tr>
            </table>
              </p>
            </div>
            <div class="pure-u-1-2">
              <h3>Perfect</h3>
              <p><table class="verbtense">
              <tr><td><span class="pronoun">I</span></td><td><span class="normal">would have been hitting</span></td></tr>
              <tr><td><span class="pronoun">you</span></td><td><span class="normal">would have been hitting</span></td></tr>
              <tr><td><span class="pronoun">he;she;it</span></td><td><span class="normal">would have been hitting</span></td></tr>
              <tr><td><span class="pronoun">we</span></td><td><span class="normal">would have been hitting</span></td></tr>
              <tr><td><span class="pronoun">you</span></td><td><span class="normal">would have been hitting</span></td></tr>
              <tr><td><span class="pronoun">they</span></td><td><span class="normal">would have been hitting</span></td></tr>
            </table>
              </p>
            </div>
          </div>
        </div>
        <!-- dictionary -->
        <!-- #EndEditable --> </div>
      <div class="pure-g verbtable">
        <div class="pure-u-1-1 pure-u-lg-1-2">
          <h2>Verbs conjugated like
            hit
          </h2>
          <p>
            <a href="/webverbix/go.php?D1=20&H1=120&T1=beset">beset</a>, <a href="/webverbix/go.php?D1=20&H1=120&T1=broadcast">broadcast</a>, <a href="/webverbix/go.php?D1=20&H1=120&T1=burst">burst</a>, <a href="/webverbix/go.php?D1=20&H1=120&T1=bust">bust</a>, <a href="/webverbix/go.php?D1=20&H1=120&T1=cost">cost</a>, <a href="/webverbix/go.php?D1=20&H1=120&T1=crosscut">crosscut</a>, <a href="/webverbix/go.php?D1=20&H1=120&T1=cut">cut</a>, <a href="/webverbix/go.php?D1=20&H1=120&T1=forecast">forecast</a>, <a href="/webverbix/go.php?D1=20&H1=120&T1=hit">hit</a>, <a href="/webverbix/go.php?D1=20&H1=120&T1=hurt">hurt</a>, <a href="/webverbix/go.php?D1=20&H1=120&T1=inset">inset</a>, <a href="/webverbix/go.php?D1=20&H1=120&T1=let">let</a>, <a href="/webverbix/go.php?D1=20&H1=120&T1=misread">misread</a>, <a href="/webverbix/go.php?D1=20&H1=120&T1=overset">overset</a>, <a href="/webverbix/go.php?D1=20&H1=120&T1=overspread">overspread</a>, <a href="/webverbix/go.php?D1=20&H1=120&T1=put">put</a>, <a href="/webverbix/go.php?D1=20&H1=120&T1=read">read</a>, <a href="/webverbix/go.php?D1=20&H1=120&T1=rebroadcast">rebroadcast</a>, <a href="/webverbix/go.php?D1=20&H1=120&T1=recut">recut</a>, <a href="/webverbix/go.php?D1=20&H1=120&T1=relet">relet</a>, <br><a href="/webverbix/donate.html"><b>Only 20 verbs here? Read more!</b></a>
          </p>
        </div>
        <div class="pure-u-1-1 pure-u-lg-1-2">
          <!--WikiTranslations-->
        </div>
        <!--VerbixMisc-->
      </div>
    </div>